@import "~antd/dist/antd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ant-table .ant-table-content .ant-table-thead > tr > .ant-table-cell {
  text-align: center;
}

.ant-steps-icon .anticon.anticon-check.ant-steps-finish-icon,
.ant-steps-icon .anticon.anticon-close.ant-steps-error-icon {
  margin-top: 8px;
  display: block;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #495e54;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 10px 5px;
  min-width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-transform: uppercase;
  border: 1px solid #495e54;
}

.button span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  top: -2px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button-danger {
  background-color: #fff;
  color: #495e54;
  border: 1px solid #495e54;
}

.app-input {
  border-radius: 4px;
  border: 1px solid #495e54;
  padding: 10px 10px;
  min-width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.app-input.copy-input,
.app-input.copy-input .ant-input {
  cursor: pointer;
}

.ant-form-item-explain .ant-form-item-explain-error {
  padding-left: 10px;
}

.app-select {
  width: 100%;
}
.app-select .ant-select-selector {
  border-radius: 4px;
  border: 1px solid #495e54;
  padding: 5px 10px !important;
  cursor: pointer;
  width: 100%;
  min-height: 40px;
}
.app-select .ant-select-selector .ant-select-selection-placeholder {
  padding-left: 6px;
}
